.nav-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #091625;
}

.select-menu-container {
  background-color: #E6E8E9;
}

.navbar-input {
  width: 696px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.navbar-buttons {
  position: absolute;
  right: 10px;
}