.search-bar {
  background-color: #091625;
  /*   margin: 0 100px;
 */
}

.select-menu-container {
  background-color: #E6E8E9;

}

.select-menu {
  /*   margin: 100px;
 */
}

.nav-image {
  display: flex;
}